/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */
/* Белый #FFFFFF */
/* Черный #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* Цвет фона Футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --black: #000000;
  --white: #ffffff;
  --font-family: Raleway, Roboto, sans-serif;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
p {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 2px solid tomato; */
}

/* Logo */

.logo {
  display: block;
  color: var(--black);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo.inverse {
  color: var(--white);
}

.logo.inverse:hover,
.logo.inverse:focus {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: inline-flex;
  align-items: center;
}

.link::before {
  content: '';
  margin-right: 10px;
  background-size: contain;
}

.icon-envelope::before {
  width: 16px;
  height: 12px;
  background-image: url(../images/envelope.svg);
}

.icon-phone::before {
  width: 10px;
  height: 14px;
  background-image: url(../images/phone.svg);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 85px;
}

/* .site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.list {
  list-style: none;
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: gray;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

/* Block */

.block-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* изменить цвет ссылки на белый */

.activities-list {
  display: flex;
  justify-content: space-between;
}

.activities-title {
  width: 370px;
  margin-bottom: 140px;
  text-align: center;
}

.activities-link {
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;

  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.activities-link:hover,
.activities-link:focus {
  color: var(--black);
}

/* Team */

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-link {
  display: inline-block;

  height: 20px;
  width: 20px;
  margin-top: 0;
  margin-right: 22px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-item {
  display: inline-block;
  width: 170px;
  height: 90px;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-logo {
  display: inline-block;
  width: 170px;
  height: 90px;
  padding-top: 20px;
}

.client-logo:hover,
.client-logo:focus {
  color: var(--accent-color);
}

/* Footer */

.page-footer {
  background-color: #2f303a;
  color: var(--white);
}

.logo-footer {
  margin-right: 69px;
}

.address {
  display: flex;
  align-content: space-between;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-item {
  display: block;
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.contact-social {
  margin-right: 94px;
}

.contact-block {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 28px;
}

.social-footer {
  display: flex;
  justify-content: space-between;
}

.footer-links > .social-link {
  display: inline-block;

  height: 44px;
  width: 44px;
  margin-right: 10px;
  margin-bottom: 0;

  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-link:nth-last-child(-n + 1) {
  margin-right: 0;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.instagram-icon {
  background-image: url(../images/instagram_logo_white.svg);
}

.twitter-icon {
  background-image: url(../images/twitter_logo_white.svg);
}

.facebook-icon {
  background-image: url(../images/facebook_logo_white.svg);
}

.linkedin-icon {
  background-image: url(../images/linkedin_logo_white.svg);
}

.join {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.copyright {
  width: 1170px;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;

  text-align: center;

  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.page-footer .social-link {
  color: var(--white);
}

/* Button */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--white);
  border-radius: 4px;

  padding: 10px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.button:hover,
.button:focus {
  color: black;
}

.button.footer::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url(../images/icon_send.svg);
  background-size: contain;
}

.button-portfolio {
  border: none;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--accent-color);
  font-family: inherit;
}

/* Galery */

.title-portfolio {
  margin-top: 0;
  margin-bottom: 0;
}

.filter {
  padding-top: 93px;
  padding-bottom: 50px;
  text-align: center;
}

.filter-item {
  display: flex;
  justify-content: center;
}

.galery {
  margin-bottom: 94px;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
}

.galery-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.galery-item:nth-child(3n) {
  margin-right: 0px;
}

.galery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-content {
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-imgage {
  display: block;
}

.galery-subtitle {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.galery-text {
  color: var(--white);
  background-color: var(--accent-color);
  padding: 63px 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.galery-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2, 0;
  letter-spacing: 0.06em;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
}
